# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Saletes d'emacs
*~
*#

# scripts & gnuplot

trunk/data
trunk/img

#cmake
trunk/build
trunk/bin
trunk/Testing